img{
width: 100px;
height: 100px;
}
.navbar{
    background-color: #131212;
}
.no-arrow{
    color: #131212;
    margin-top: 23px;
    margin-bottom: 18px;
}
.left-success{
    margin-left: 90px;
    width: 280px;
}
.left-primary{
    width: 280px;
    margin-left: 160px;
}
.riders-checkbox{
    width: 280px;
    margin-left: -90px;
}
.chef-checkbox{
    width: 280px;
    margin-left: -180px;
}
.border-left-info{
    width: 280px;
}
.checkbox{
    width: 250px;
}
