
.navbar-logo {
    position: absolute;
    width: 200px;
    height: 200px;
    float: left;
}
.dropbtn {
    background-color: #131212;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
    background-color: #131212;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
    position: absolute;
    right: 0px;
    display: inline-block;
    width: 200px;
    height: 200px;    
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #131212;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
    color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: rgb(245, 238, 238);
        color: #131212;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}  

/* footer */

/* quick links*/
.quick-links {
    position: absolute;
    padding: 10px;
    left: 0px;
    bottom: 0px;    
}

.footer-section{
    background: #000;
    /*background-position: center;*/
    color: #d3d3d3;
    height: 350px;
    position: relative;
    margin-top: 100%;
  }
  
  .footer-section .footer-content{
    height: 358px;
    display: flex;
    position: absolute;
  }
  
  .footer-section .footer-content .footer{
    flex: 1;
    padding: 45px;
  }
  
  .footer-section .footer-content h1,
  .footer-section .footer-content h2{
    color: #fff;
  }
  
  .footer-section .footer-content .about span{
    color: #B8B7B6;
  }
  
  .footer-section .footer-content .about .contact span{
    display: block;
    font-size: 15px;
    margin-bottom: 0px;
  }
  
  .footer-section .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    color: #B8B7B6;
  }
  
  .footer-section .footer-content .links ul a:hover{
    color: #B8B7B6;
    margin-left: 15px;
    transition: all .3s;
  }
  
  .footer-section .footer-content .form .contact-input{
    background-color: #f1f1f1;
    color: #131212;
    margin-bottom: 10px;
    line-height: 2.0rem;
    padding: .7rem 1.2rem;
    border: none;
    width: 420px;
  }
  
  .footer-section .footer-content .form .contact-input:focus{
    background: #9b9a9a;
    color: #131212;
  }
  
  .footer-section .footer-content .form textarea{
    resize: none;
  }
  
  .btn-big{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    border: none;
  }
  
  .footer-section .footer-content .form .contact-btn{
    float: right;
    background: #f1f1f1;
    color: #131212;
    border-radius: 20px;
  }
  
  .footer-section .footer-content .form .contact-btn:hover{
    background: #686868;
    color: #131212;
  }
  
  .footer-section .footer-bottom{
    background-color: #343a40;
    color: #686868;
    height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
  }
  