body{
    background: rgb(255,229,180);
background: linear-gradient(45deg, rgba(255,229,180,1) 0%, rgba(193,154,107,1) 100%);
}
a{
    color: #131212;
}


/*navbar*/
.fixed-top{
    background-color: #fff;
}
.btn-outline-dark{
    color: #131212;
   
}
.btn-outline-dark:hover{
    background-color: #131212;
}
.navbar-logo{
    margin-left: 52%;
}

.btn-reg{
    margin-left: 30%;
    margin-top: 6%;
}
/*maps*/
.btn-main{
    margin-left: 43%;
    margin-top: 30%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    border-width: 3px;
    border-color: #131212;
}
/*Restaurant List*/
.card-deck{
    margin-top: 20%;
    margin-left: 1px;
    margin-right: 0;
}
.btn-menu{
    margin-left: 40%;
}
/*Footer*/
.page-footer{
    background-color: #fff;
    color: #131212;
    margin-top: 5%;
}
.list-unstyled{
    color: #f1f1f1;
}
.footer-copyright{
    background: rgb(255,229,180);
    background: linear-gradient(45deg, rgba(255,229,180,1) 0%, rgba(193,154,107,1) 100%);
    color: #131212;
}


