/* header */
.navbar-logo {
  position: relative;
  width: 150px;
  height: 150px;
}


  /* Links inside the dropdown */
  .collapse {
    margin-left: 93%;
    margin-top: -6%;
  }
  .dropbtn {
    background-color: #131212;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3d3c3c;
  }


  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}  
/* content */
/* order now */
button { /* settings for all buttons */
background-color: #131212;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.search-loc {
position: relative;
padding-top: 25%;
}

.OrderNow {
padding-left: 25%;
padding-right: 33px;
float: left;
}
/* restaurant-list */
.restaurant-list {
position: relative;
padding-right: 15%;
padding-left: 55%;
padding-bottom: 10%;
}
  

/*footer*/
.footer-section{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}
/*quick links*/
.footer-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 620px 10px 550px;
}
/*form*/
.contactUs{
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-right: 50px;
  padding: 10px;
}

.btn{
  background-color: #f1f1f1;
  color: #131212;
  border-radius: 13px;
  padding: 15px;
  margin: 4px 2px;
}


.footer-section{
  background-color: #131212;
  color: #f1f1f1; 
  width: 100%;
}


