.btn-outline-dark{
    margin-top: 10%;
    color: #131212;
    border-color: #131212;
}
.btn-outline-dark:hover{
    background-color: #131212;

}
.col-12{
    margin-left: 43%;
}
.navbar-logo{
    margin-left: 200px;
}
.btn-reg{
    margin-left: 200px;
}
