body{
  
background: linear-gradient(45deg, rgba(255,229,180,1) 0%, rgba(193,154,107,1) 100%);
}

/* menu */
.container{
    margin-top: 200px;
}
.container .row .text-primary{
    color: #131212;
}
.btn-main{
    margin-left: 45%;
}
a{
    color: #131212;
}