body{
    background: rgb(255,229,180);
background: linear-gradient(45deg, rgba(255,229,180,1) 0%, rgba(193,154,107,1) 100%);
}
/*navbar*/
.fixed-top{
    background-color: #fff;
}
.btn-outline-dark{
    color: #131212;
   
}
.btn-outline-dark:hover{
    background-color: #131212;
}
.navbar-logo{
    margin-left: 52%;
}

.btn-reg{
    margin-left: 30%;
    margin-top: 6%;
}
/*Footer*/
.page-footer{
    background-color: #fff;
    color: #131212;
    margin-top: 36.2%;
}
.list-unstyled{
    color: #f1f1f1;
}
.footer-copyright{
    background: rgb(255,229,180);
    background: linear-gradient(45deg, rgba(255,229,180,1) 0%, rgba(193,154,107,1) 100%);
    color: #131212;
}
a{
    color: #131212;
}